*,
*::before,
*::after{
    box-sizing: border-box;

}
/*değişkenler*/

:root{
    --fs-primary:"source sans pro", sans-serif;
    --fs-secondary: "source code pro",monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;
     
    --fs-h1:3rem;
    --fs-h2:3.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
@media(min-width:800px){ /*en az 800 px olduğunda*/
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;

    }


}
}

/* Genel stiller*/

body{
    backround
}