*,
*::before,
*::after {
    box-sizing: border-box;

}

/*değişkenler*/

:root {
    --fs-primary: "Source Sans Pro", sans-serif;
    --fs-secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25 0.25 0.75 rgba(0,0,0,0.25),
    0.125em 0.125em 0.125em rgba(0,0,0,0.15)
}


    @media(min-width:800px) {

        :root {
            --fs-h1: 4.5rem;
            --fs-h2: 3.75rem;
            --fs-h3: 1.5rem;
            --fs-body: 1.125rem;

        }


    }
}

/* Genel stiller*/

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary) font-size var(--fs-body);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section{
    pas
}

img {
    display: block;
    max-width: 100%;

}

strong {
    font-weight: var(--fw-bold);
}

/*typography*/
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25cm;
}

.section__title--intro {
    border: 2px solid magenta;
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    font-size: var(--fs-h3);
    margin: 0;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;


}

/* intro section*/

.intro {
    border: 2px solid magenta;

}

.section__subtitle--intro {
    display: inline-block;
}

@media(min-width: 600px) {
    .intro {
        border: 2px solid magenta;
        display: grid;
        width: min-content;
        margin: 0 auto;
        gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        border:2px solid magenta;
        grid-area:
    }



}