*,
*::before,
*::after{
    box-sizing: border-box;

}

:root{
    --fs-primary:"source sans pro", sans-serif;
    --fs-secondary: "source code pro",monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;
     
    --fs-h1:3rem;
    --fs-h2:3.25rem;
    --fsh3


}