*,
*::before,
*::after{
    box-sizing: border-box;

}

:root{
    --fs-primary:"source sans pro", sans-serif;
    --fs-secondary: "source code pro",monospace;

    --fw-reg:300;
    --fw-bold:900;


}